@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
  }
  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  *::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
  }

  body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .scrollbar-hidden:hover::-webkit-scrollbar-thumb {
    background-color: #717171;
  }

  .tooltip:before {
    z-index: 1;
  }

  .font-size-inherit {
    font-size: inherit;
  }

  .flex-align-items-center {
    @apply flex items-center;
  }

  .flex-justify-content-center {
    @apply flex justify-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .font-emoji {
    font-family: emoji;
  }

  .main-grid {
    @apply sm:grid sm:place-items-stretch;
  }

  @screen sm {
    .main-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto minmax(300px, 500px) 300px minmax(350px, 600px);
      grid-template-areas:
        'orderform orderform'
        'chart orderbook'
        'trades orders'
        'market market';
    }
  }

  @screen lg {
    .main-grid {
      grid-template-areas:
        'orderbook chart market'
        'orderbook chart market'
        'orderbook chart trades'
        'orderbook orderform trades'
        'orders orders orders';
      grid-template-rows: auto 1fr 1fr 1fr 350px auto;
      grid-template-columns: minmax(253px, 320px) minmax(510px, 880px) minmax(253px, 320px) 1fr;
    }
  }

  .main-grid > div[data-grid-name='header'] {
    grid-area: header;
  }

  .main-grid > div[data-grid-name='subHeader'] {
    grid-area: subHeader;
  }

  .main-grid > div[data-grid-name='orderbook'] {
    grid-area: orderbook;
  }

  .main-grid > div[data-grid-name='chart'] {
    grid-area: chart;
  }

  .main-grid > div[data-grid-name='market'] {
    grid-area: market;
  }

  .main-grid > div[data-grid-name='trades'] {
    grid-area: trades;
  }

  .main-grid > div[data-grid-name='orderform'] {
    grid-area: orderform;
  }

  .main-grid > div[data-grid-name='orders'] {
    grid-area: orders;
  }

  .market-td-padding {
    @apply px-0.5 py-1.5 sm:px-1 sm:py-2;
  }

  .market-chart-icon {
    @apply cursor-pointer opacity-50 text-white leading-[1em];
  }

  .market-exchange-image {
    @apply w-[1em] h-[1em] leading-[1em] opacity-60 object-contain;
  }

  .ask {
    @apply text-rose-500;
  }

  .bid {
    @apply text-teal-500;
  }

  .highlight {
    animation: highlight-keyframes 0.3s ease-out;
  }

  .btn-order {
    @apply bg-green-700 text-green-300 hover:bg-green-800;
  }

  .btn-order-ask {
    @apply bg-rose-700 text-rose-300 hover:bg-rose-800;
  }

  .btn-order-bid {
    @apply bg-teal-700 text-teal-300 hover:bg-teal-800;
  }
}

@keyframes highlight-keyframes {
  0% {
    background-color: none;
  }
  10% {
    background-color: rgba(234, 200, 94, 0.5);
  }
  100% {
    background-color: none;
  }
}

html.nprogress-busy > body > #nprogress > .spinner {
  display: none;
}
