@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
  }
  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  *::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
  }

  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .scrollbar-hidden:hover::-webkit-scrollbar-thumb {
    background-color: #434343;
  }
  .scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
  }

  .tooltip:before {
    z-index: 1;
  }

  .font-size-inherit {
    font-size: inherit;
  }

  .flex-align-items-center {
    @apply flex items-center;
  }

  .flex-justify-content-center {
    @apply flex justify-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .font-emoji {
    font-family: emoji;
  }

  .main-grid {
    @apply grid gap-2 overflow-y-auto sm:gap-[1px] sm:place-items-stretch;
  }

  @screen sm {
    .main-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto minmax(300px, 500px) 300px 1fr;
      grid-template-areas:
        'header header header header header'
        'chart chart chart orderbook orderbook'
        'chart chart chart trades trades'
        'market market market market market';
    }

    .main-grid.main-grid-trade {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto minmax(300px, 500px) auto 300px 1fr;
      grid-template-areas:
        'header header header header header'
        'chart chart chart orderbook orderbook'
        'orderform orderform orderform orderform orderform'
        'trades trades orders orders orders'
        'market market market market market';
    }

    .main-grid > div[data-grid-area='header'] {
      grid-area: header;
    }

    .main-grid > div[data-grid-area='subHeader'] {
      grid-area: subHeader;
    }

    .main-grid > div[data-grid-area='orderbook'] {
      grid-area: orderbook;
    }

    .main-grid > div[data-grid-area='chart'] {
      grid-area: chart;
    }

    .main-grid > div[data-grid-area='market'] {
      grid-area: market;
    }

    .main-grid > div[data-grid-area='trades'] {
      grid-area: trades;
    }

    .main-grid > div[data-grid-area='orderform'] {
      grid-area: orderform;
    }

    .main-grid > div[data-grid-area='orders'] {
      grid-area: orders;
    }
  }

  @screen lg {
    .main-grid {
      grid-template-columns: minmax(280px, 350px) minmax(400px, 1fr) minmax(320px, 400px);
      grid-template-rows: 50px minmax(300px, 1fr) minmax(100px, 200px);
      grid-template-areas:
        'header header market'
        'orderbook chart market'
        'trades chart market';
    }

    .main-grid.main-grid-trade {
      grid-template-columns: minmax(280px, 350px) minmax(400px, 1fr) minmax(320px, 400px);
      grid-template-rows:
        50px minmax(53%, 1fr) minmax(auto, 150px) minmax(auto, 300px)
        minmax(100px, 200px);
      grid-template-areas:
        'header header market'
        'orderbook chart market'
        'trades chart market'
        'trades orderform orderform'
        'orders orders orders';
    }

    .main-grid.main-grid-trade.not-login {
      grid-template-columns: minmax(280px, 350px) minmax(400px, 1fr) minmax(320px, 400px);
      grid-template-rows:
        50px minmax(65%, 1fr) minmax(auto, 300px) minmax(auto, 100px)
        minmax(100px, 200px);
      grid-template-areas:
        'header header market'
        'orderbook chart market'
        'trades chart market'
        'trades orderform orderform'
        'orders orders orders';
    }
  }

  .market-td-padding {
    @apply px-0.5 py-1.5 sm:px-1 sm:py-2;
  }

  .market-chart-icon {
    @apply cursor-pointer text-white leading-[1em];
  }

  .market-exchange-image {
    @apply w-[1em] h-[1em] leading-[1em] opacity-60 object-contain;
  }

  .ask {
    @apply text-rose-500;
  }

  .bid {
    @apply text-teal-500;
  }

  .highlight {
    animation: highlight-keyframes 0.3s ease-out;
  }

  .btn-order {
    @apply bg-green-700 text-green-300 hover:bg-green-800;
  }

  .btn-order-ask {
    @apply bg-rose-700 text-rose-200 hover:bg-rose-800;
  }

  .btn-order-bid {
    @apply bg-teal-700 text-teal-300 hover:bg-teal-800;
  }

  .horizontal-scrolling-animation {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: horizontal-scrolling-keyframes;
    animation-delay: 2s;
    animation-duration: 100s;
  }
  .animation-paused {
    animation-play-state: paused;
  }
}

@keyframes horizontal-scrolling-keyframes {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes highlight-keyframes {
  0% {
    background-color: none;
  }
  10% {
    background-color: rgba(234, 200, 94, 0.5);
  }
  100% {
    background-color: none;
  }
}

html.nprogress-busy > body > #nprogress > .spinner {
  display: none;
}
