html.theme-dark body.chart-page,
html.theme-dark .content-379NmUSU {
  background-color: #181818;
}

html.theme-dark div.wrap-3obNZqvj {
  background-color: #2b2b2b;
}

.theme-dark:root {
  --tv-color-platform-background: #2b2b2b;
  --tv-color-pane-background: #0e0e0e;
  --tv-color-toolbar-button-text: #aaaaaa;
  --tv-color-toolbar-button-background-hover: transparent;
  --tv-color-toolbar-button-text-hover: #dedede;
  --tv-color-toolbar-button-text-active: #e6f18d;
  --tv-color-toolbar-button-text-active-hover: #cdd77b;
  --tv-color-toolbar-toggle-button-background-active: #3b3b3b;
  --tv-color-toolbar-toggle-button-background-active-hover: #303030;
}

.dateRangeWrapper-2yU8ifXU {
  display: none;
}
